@model IEnumerable<Danasura_Project.Models.msKategoriBarang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
    var nomor = 0;
}

<h2>Data Kategori Barang</h2>

<p>
    @Html.ActionLink("Tambah Data Kategori", "Create", new { area = "" }, htmlAttributes: new { @class = "btn btn-success" })
</p>
<table class="table" id="tabelKategori">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nama)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        if (item.status == 1)
        {
            nomor++;
            <tr>
                <td>
                    @nomor
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nama)
                </td>
                <td>
                    @Html.ActionLink("Ubah", "Edit", new { id = item.id_kategori }, htmlAttributes: new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Hapus", "Delete", new { id = item.id_kategori }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }

</table>

<link href="~/Content/Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

@section scripts{
    <!-- Page level plugins -->
    <script src="~/Content/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/Assets/js/demo/datatables-demo.js"></script>

    <script>
        var Popup, dataTable;
        var no;
        $(document).ready(function () {
            dataTable = $("#tabelKategori").DataTable();
        });
    </script>
}