@model Danasura_Project.Models.msSekolah

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Hapus Data Sekolah</h2>

<h3>Apakah kamu yakin ingin menghapus data ini ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nama_sekolah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nama_sekolah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.akreditasi)
        </dt>

        @if (Model.akreditasi == 1)
        {
            <dd>
                A
            </dd>
        }

        @if (Model.akreditasi == 2)
        {
            <dd>
                B
            </dd>
        }

        @if (Model.akreditasi == 3)
        {
            <dd>
                C
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.nama_cp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nama_cp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_cp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_cp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alamat_sekolah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alamat_sekolah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provinsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provinsi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kecamatan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kecamatan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jml_penerimaKIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jml_penerimaKIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.harga_spp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.harga_spp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.harga_seragam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.harga_seragam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deskripsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deskripsi)
        </dd>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Kembali", "Index", new { area = "" }, htmlAttributes: new { @class = "btn btn-default" }) |
            <input type="submit" value="Hapus" class="btn btn-danger" />
        </div>
    }
</div>
