@model IEnumerable<Danasura_Project.Models.msStaff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama_staff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jenis_kelamin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_ktp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempat_lahir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tanggal_lahir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_telp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pendidikan_terakhir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tahun_masuk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_by)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nama_staff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jenis_kelamin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_ktp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempat_lahir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tanggal_lahir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alamat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_telp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pendidikan_terakhir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tahun_masuk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_by)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_staff }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_staff }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_staff })
        </td>
    </tr>
}

</table>
